body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    font-family: Georgia;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    perspective: 800px;
    width: 150px;
    height: 300px;
    position: relative;
    margin: 50px ;
}
.flip .card.flipped {
    transform: rotateX(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    transform: rotateX(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

.removed {
    /* Cambia la opacidad a 0 en lugar de usar display: none */
    opacity: 0;
    /* Agrega una transición suave a la opacidad durante 0.5 segundos */
    transition: opacity 0.5s ease;
    /* Agrega un pequeño retraso antes de que la carta desaparezca completamente */
    transition-delay: 0.5s;
    /* Después de la transición, la carta será invisible pero todavía ocupará espacio */
    visibility: hidden;
}
